@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header{
  background-color: $mainblue;
}

ul {
  list-style-type: none;
  margin-top: 5px;

  li {
    list-style: none;
    padding: 10px;
    a {
      text-decoration: none;
      color: white;

      .icon-search, .icon-person{
        width: 23px;
        height: 23px;
      }
    }
  }

  & > :nth-child(1) {
    margin-right: auto;
  }
}

p{
  font-size: 1em;
  line-height: 23px;
}

.search-title{
  font-size: 38px;
}

.white{
  color: white;
}

.color-mustard{
  color: $mustard;
}

.security-text{
  font-size: 16px;
  color: $mustard;
}

#txtEmailAddress{
  border-radius: 3px;
  min-height: 50px;
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  line-height: 18px;
  border: none;
  font-weight: bold;
  &:focus{
    outline: none;
  }
}


#btnSubmitSearch{
  background-image: linear-gradient(225deg, $lightmustard 0%, $mustard 100%);
  border-radius: 6px;
  font-weight: bold;
  border: none;
  font-size: 24px;
  color: $mainblue;
  letter-spacing: 1px;
  text-align: center;
  min-height: 50px;
  margin-top: 5px;
}

@media only screen and (min-width: 480px){
  #btnSubmitSearch{
    margin-top: 0px;
    min-height: 1em;
    min-width: 7em;
  }

  #txtEmailAddress{
    min-width: 32em;
    min-height: 5em;
  }
  
  .security-text{
    padding-left: 0px;
  }
}

@media only screen and (min-width: 769px){
  .header{
    padding-left: 15em!important;
    padding-right: 15em!important;
  }

  // .security-text{
  //   padding-left: 5em;
  // }

  .search-title{
    font-size: 4em;
  }

  p{
    font-size: 1.5em;
  }

  #btnSubmitSearch{
    min-width: 10em;
  }

  #txtEmailAddress{
    min-width: 60em;
  }
}