@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header{
  background-color: $mainblue;
}

ul {
  list-style-type: none;
  margin-top: 5px;

  li {
    list-style: none;
    padding: 10px;
    a {
      text-decoration: none;
      color: white;

      .icon-search, .icon-person{
        width: 23px;
        height: 23px;
      }
    }
  }

  & > :nth-child(1) {
    margin-right: auto;
  }
}

p{
  font-size: 1.125em;
  line-height: 23px;
}

main{
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
  h2{
    color: $mainblue;
    font-size: 2.5em;
  }

  .main-text{
    color: #4A4A4A;
    line-height: 28px;
  }
}

.footer-text{
  font-size: 0.94em;
  color: #999999;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 20px;
}

.footer-links{
  font-size: 14px;
  color: $mainblue;
  letter-spacing: 0;
  margin-top: 10px;
  a{
    text-decoration: none;
    color: $mainblue;
  }
}

.number{
  display: flex;
  height: 2em;
  width: 7em;
  align-items: center;
  background-color: $mainblue;
  border-radius: 50%;
  color: $mustard;
  font-size: 1.8em;
  font-weight: bold;
}

.new-search-container{
  background-color: $mainblue;
}

.result-container{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 30px;
  min-height: 30em;
  h2, h3{
    color: $mainblue;
  }
}

.phone-numbers-container{
  .blue{
    color: $mainblue;
  }
}

.content{
  h4{
    color: $mainblue;
    align-self: center;
    font-size: 1.3em;
  }
  p{
    margin-top: 5px;
    &.text-content{
      font-size: 1.15em;
    }
  }
}

.search-title{
  font-size: 38px;
}

.white{
  color: white;
}

.color-mustard{
  color: $mustard;
}

.security-text{
  font-size: 16px;
  color: $mustard;
}

.text-container{
  margin-left: 1.5em;
}

.text-numbers{
  justify-content: space-around;
}

#txtEmailAddress{
  border-radius: 3px;
  min-height: 50px;
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  line-height: 18px;
  border: none;
  font-weight: bold;
  &:focus{
    outline: none;
  }
}


#btnSubmitSearch{
  background-image: linear-gradient(225deg, $lightmustard 0%, $mustard 100%);
  border-radius: 6px;
  font-weight: bold;
  border: none;
  font-size: 24px;
  color: $mainblue;
  letter-spacing: 1px;
  text-align: center;
  min-height: 50px;
  margin-top: 5px;

  &:hover{
    background: #F2DA56;
    box-shadow: 0 1px 0 0 #A6953B;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 480px){
  #btnSubmitSearch{
    margin-top: 0px;
    min-height: 1em;
    min-width: 7em;
  }

  #txtEmailAddress{
    min-width: 32em;
    min-height: 3.5em;
  }
  
  .security-text{
    padding-left: 0px;
  }

  footer{
    justify-content: space-between;
  }

  .footer-text{
    width: 80%;
  }

  .footer-links{
    width: 15%;
    margin-top: 0;
  }

  
.order-md-2{
  order: 2;
}

.order-md-3{
  order: 3;
}

.order-md-4{
  order: 4;
}

.order-md-5{
  order: 5;
}

.order-md-6{
  order: 6;
}
}

@media only screen and (min-width: 769px){
  .header, main, footer, .new-search-container{
    padding-left: 15em!important;
    padding-right: 15em!important;
  }
  
  .search-title{
    font-size: 4em;
    &-results{
      font-size: 2.5em;
    }
  }

  p{
    font-size: 1.5em;
  }

  #btnSubmitSearch{
    min-width: 10em;
  }

  #txtEmailAddress{
    min-width: 60em;
  }

  main{
    .main-text{
      width: 90%;
    }
  }

  .number{
    height: 2em;
    width: 4em;
    font-size: 3em;
  }
}